.legend {
  margin-bottom: 2rem;
}

.input,
.textarea {
  width: calc(100% - 4px);
}

.textarea {
  resize: none;
}

.reset {
  margin-right: 1rem;
}

.submit[disabled] {
  pointer-events: none;
  opacity: 0.6;
}
